In [79]:
import pandas as pd
from datetime import datetime

In [80]:
income_sheet = pd.read_excel('Goal.xlsx', sheet_name = 'Income', index_col = 0)

In [81]:
income = income_sheet['Yearly']['Base Pay']
income

108397.58

In [82]:
k_401 = income * 0.08
k_401

8671.8064

In [83]:
benefits = income * 0.0025860103
benefits

280.317258375074

In [84]:
federal_tax = income * 0.155663208
federal_tax

16873.51504223664

In [85]:
ss = income * 0.0623122209
ss

6754.493949985422

In [86]:
medicare = income * 0.0145728766
medicare

1579.664557078628

In [87]:
net_pay = income - k_401 - benefits - federal_tax - ss - medicare
net_pay

74237.78279232423

In [88]:
transactions = pd.read_csv('transactions.csv')
transactions

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,12/23/2019,Delta,DELTA AIR LINES 18002211212 CA,198.60,debit,Air Travel,DISCOVER IT CHROME CARD,NaN,NaN
1,1/31/2020,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,2.19,debit,Air Travel,DISCOVER IT CHROME CARD,NaN,NaN
2,5/05/2021,DMV,OH BUREAU MOTOR VEHICLES,30.00,debit,Auto & Transport,CREDIT CARD,NaN,NaN
3,3/21/2020,Brendan Cohen Charged,Brendan Cohen Charged Keith Cook,11.47,credit,Bills & Utilities,Venmo,NaN,NaN
4,3/21/2020,Brendan Cohen Charged,Brendan Cohen Charged Justin Mormol,11.47,credit,Bills & Utilities,Venmo,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1785,8/07/2022,SHENANDOAH NATL PARK,SHENANDOAH NATL PARK,30.00,debit,Vacation,CREDIT CARD,Expenses,NaN
1786,6/14/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,457.42,debit,Veterinary,CREDIT CARD,NaN,NaN
1787,6/14/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,27.74,debit,Veterinary,CREDIT CARD,NaN,NaN
1788,11/08/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,131.93,debit,Veterinary,CREDIT CARD,NaN,NaN
1789,3/16/2022,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,171.21,debit,Veterinary,DISCOVER IT CHROME CARD,Expenses,NaN

In [89]:
transactions['Amount'][transactions['Transaction Type'] == 'debit'] = transactions[transactions['Transaction Type'] == 'debit'].apply(lambda x: x*-1)['Amount']

<ipython-input-89-c88f70988ea8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions['Amount'][transactions['Transaction Type'] == 'debit'] = transactions[transactions['Transaction Type'] == 'debit'].apply(lambda x: x*-1)['Amount']

In [90]:
df = pd.DataFrame(transactions, columns=['Date', 'Category', 'Description', 'Amount', 'Account Name'])
df

,Date,Category,Description,Amount,Account Name
0,12/23/2019,Air Travel,Delta,-198.60,DISCOVER IT CHROME CARD
1,1/31/2020,Air Travel,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,-2.19,DISCOVER IT CHROME CARD
2,5/05/2021,Auto & Transport,DMV,-30.00,CREDIT CARD
3,3/21/2020,Bills & Utilities,Brendan Cohen Charged,11.47,Venmo
4,3/21/2020,Bills & Utilities,Brendan Cohen Charged,11.47,Venmo
...,...,...,...,...,...
1785,8/07/2022,Vacation,SHENANDOAH NATL PARK,-30.00,CREDIT CARD
1786,6/14/2020,Veterinary,Gahanna Animal Hospital Inc,-457.42,CREDIT CARD
1787,6/14/2020,Veterinary,Gahanna Animal Hospital Inc,-27.74,CREDIT CARD
1788,11/08/2020,Veterinary,Gahanna Animal Hospital Inc,-131.93,CREDIT CARD
1789,3/16/2022,Veterinary,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,-171.21,DISCOVER IT CHROME CARD

In [91]:
from datetime import date, timedelta

year, week_num, day_of_week = date.today().isocalendar()

today = date.today()
start = today - timedelta(days=today.weekday())
end = start + timedelta(days=6)

this_week = start.strftime("%m/%d/%Y")
year = date.today().year

df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df['week'] = df['Date'].dt.week
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year'] = df['Date'].dt.year

<ipython-input-91-0875c575732a>:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week'] = df['Date'].dt.week

In [92]:
def indexExists(list,index):
    try:
        list[index]
        return True
    except KeyError:
        return False

In [93]:
df_no_income = df[df['Category'] != 'Paycheck']
expenses_week = df_no_income[df_no_income['year'] == date.today().year].groupby('week').sum()['Amount']
if indexExists(expenses_week, week_num):
    expenses_week = expenses_week[week_num]
else:
    expenses_week = 0

In [94]:
df_income = df[df['Category'] == 'Paycheck']
income_week = df_income[df_income['year'] == date.today().year].groupby('week').sum()['Amount']
if indexExists(income_week, week_num):
    income_week = income_week[week_num]
else:
    income_week = 0

In [95]:
def formatting(amount):
    if amount < 0:
        amount = amount * -1
        amount = "-${:,.2f}".format(amount)
    else:
        amount = "${:,.2f}".format(amount)
    return amount

In [101]:
net_worth = 1
progress = 1

In [ ]:
from flask import Flask, render_template
## from flask import Flask, render_template
app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def dashboard():
    return render_template('index.html', 
    income_this_week = formatting(income_week), expenses_this_week = formatting(expenses_week), this_week = this_week, net_worth = net_worth)

@app.route('/table.html', methods=['GET', 'POST'])
def finances():
    return render_template('table.html')

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
[2022-08-19 19:05:20,093] ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "<ipython-input-103-d15cc92d64a6>", line 7, in dashboard
    return render_template('index.html',
  File "C:\Users\bcohe\anaconda3\lib\site-packages\flask\templating.py", line 138, in render_template
    ctx.app.jinja_env.get_or_select_template(template_name_or_list),
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\environment.py", line 930, in get_or_select_template
    return self.get_template(template_name_or_list, parent, globals)
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\environment.py", line 883, in get_template
    return self._load_template(name, self.make_globals(globals))
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\environment.py", line 857, in _load_template
    template = self.loader.load(self, name, globals)
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\loaders.py", line 127, in load
    code = environment.compile(source, name, filename)
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\environment.py", line 638, in compile
    self.handle_exception(source=source_hint)
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\environment.py", line 832, in handle_exception
    reraise(*rewrite_traceback_stack(source=source))
  File "C:\Users\bcohe\anaconda3\lib\site-packages\jinja2\_compat.py", line 28, in reraise
    raise value.with_traceback(tb)
  File "C:\Users\bcohe\OneDrive\Documents\GitHub\pinkasfloyd1337.github.io\templates\index.html", line 1, in template
    <!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"><title>Dashboard - Brand</title><link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/material-icons.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css')}}"></head><body id="page-top"><div id="wrapper"><nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"><div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div><div class="sidebar-brand-text mx-3"><span>Brand</span></div></a><hr class="sidebar-divider my-0"><ul class="navbar-nav text-light" id="accordionSidebar"><li class="nav-item"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li><li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li><li class="nav-item"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li><li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li><li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li></ul><div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div></div></nav><div class="d-flex flex-column" id="content-wrapper"><div id="content"><nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"><div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"><div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div></form></div></nav><div class="container"><h2 class="text-dark">Week of {{this_week}}</h2><div class="row"><div class="col-md-3"><div class="card shadow border-start-primary py-2"><div class="card-body"><div class="row align-items-center no-gutters"><div class="col me-2"><div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Income</span></div><div class="text-dark fw-bold h5 mb-0"><span>{{income_this_week}}</span></div></div><div class="col-auto"><i class="material-icons fa-2x text-gray-300" style="font-size: 35px;margin: 0px;">attach_money</i></div></div></div></div></div><div class="col-md-3"><div class="card shadow border-start-success py-2"><div class="card-body"><div class="row align-items-center no-gutters"><div class="col me-2"><div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Expenses</span></div><div class="text-dark fw-bold h5 mb-0"><span>{{expenses_this_week}}</span></div></div><div class="col-auto"><i class="material-icons fa-2x text-gray-300" style="font-size: 35px;">money_off</i></div></div></div></div></div><div class="col-md-3"><div class="card shadow border-start-info py-2"><div class="card-body"><div class="row align-items-center no-gutters"><div class="col me-2"><div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Net Worth</span></div><div class="row g-0 align-items-center"><div class="col-auto"><div class="text-dark fw-bold h5 mb-0 me-3"><span>{{net_worth}}</span></div></div><div class="col"><div class="progress progress-sm">
jinja2.exceptions.TemplateSyntaxError: expected token ',', got 'static'
127.0.0.1 - - [19/Aug/2022 19:05:20] "GET / HTTP/1.1" 500 -