In [942]:
import pandas as pd
from datetime import datetime
import numpy as np

In [943]:
income_sheet = pd.read_excel('Goal.xlsx', sheet_name = 'Income', index_col = 0)

In [944]:
income = income_sheet['Yearly']['Base Pay']
income

108397.58

In [945]:
k_401 = income * 0.08
k_401

8671.8064

In [946]:
benefits = income * 0.0025860103
benefits

280.317258375074

In [947]:
federal_tax = income * 0.155663208
federal_tax

16873.51504223664

In [948]:
ss = income * 0.0623122209
ss

6754.493949985422

In [949]:
medicare = income * 0.0145728766
medicare

1579.664557078628

In [950]:
net_pay = income - k_401 - benefits - federal_tax - ss - medicare
net_pay

74237.78279232423

In [951]:
transactions = pd.read_csv('transactions.csv')
transactions

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,8/22/2022,BLUESTONE ANALYT CACI INTER PB0771 082222,BLUESTONE ANALYT CACI INTER PB0771 082222,3093.29,credit,Paycheck,5/3 ESSENTIAL CHECKING,NaN,NaN
1,8/20/2022,SMARTRIP WASHINGTON DC,SMARTRIP WASHINGTON DC,50.00,debit,Public Transportation,CREDIT CARD,NaN,NaN
2,8/20/2022,Too Good To Go Inc.,Too Good To Go Inc.,3.99,debit,Restaurants,CREDIT CARD,NaN,NaN
3,8/19/2022,GIANT 2381,GIANT 2381,83.91,debit,Groceries,CREDIT CARD,NaN,NaN
4,8/19/2022,AMTRAK MOBIL2290740145425,AMTRAK MOBIL2290740145425,16.00,debit,Public Transportation,CREDIT CARD,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2634,12/08/2019,Brendan Cohen Charged,Brendan Cohen Charged Keith Cook,5.87,credit,Utilities,Venmo,NaN,NaN
2635,12/07/2019,Ok Per Inch,Ok $1 per inch,5.87,credit,Restaurants,Venmo,NaN,NaN
2636,12/07/2019,Raising Cane's,RAISING CANES #RCC19 CINCINNATI OH,7.06,debit,Restaurants,DISCOVER IT CHROME CARD,NaN,NaN
2637,12/06/2019,Brendan Cohen Charged,Brendan Cohen Charged Justin Mormol,5.87,credit,Utilities,Venmo,NaN,NaN
2638,12/06/2019,Wal-Mart,WAL-MART SC - #2250 CINCINNATI OH,23.48,debit,Shopping,DISCOVER IT CHROME CARD,NaN,NaN

In [952]:
debit = transactions[transactions['Transaction Type'] == 'debit']
debit.Amount = debit.Amount * -1

C:\Users\bcohe\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [953]:
transactions = transactions[transactions['Transaction Type'] == 'credit'].merge(debit, how="outer")

In [954]:
auto_transport = ['Auto & Transport', 'Auto Insurance', 'Auto Payment', 'Gas & Fuel', 'Parking', 'Public Transportation', 'Ride Share', 'Service & Parts']
bills = ['Bills & Utilities', 'Home Phone', 'Internet', 'Mobile Phone', 'Television', 'Utilities']
business = ['Business Services', 'Advertising', 'Legal', 'Office Supplies', 'Printing', 'Shipping']
education = ['Education', 'Books & Supplies', 'Student Loan', 'Tuition']
entertainment = ['Entertainment', 'Amusement', 'Arts', 'Fun', 'Movies & DVDs', 'Music', 'Newspapers & Magazines', 'Streaming']
fees = ['Fees & Charges', 'ATM Fee', 'Bank Fee', 'Finance Charge', 'Late Fee', 'Service Fee', 'Trade Commissions']
financial = ['Financial', 'Financial Advisor', 'Life Insurance']
food = ['Food & Dining', 'Alcohol & Bars', 'All', 'Coffee Shops', 'Fast Food', 'Food Delivery', 'Restaurants']
groceries = ['Groceries']
gifts = ['Gifts & Donations', 'Charity', 'Gift']
health = ['Health & Fitness', 'Dentist', 'Doctor', 'Eyecare', 'Gym', 'Health Insurance', 'Pharmacy', 'Sports']
home = ['Home', 'Furnishings', 'Home Improvement', 'Home Insurance', 'Home Services', 'Home Supplies', 'Lawn & Garden', 'Mortgage & Rent']
income = ['Income', 'Bonus', 'Interest Income', 'Reimbursement', 'Rental Income', 'Returned Purchase']
paycheck = ['Paycheck']
investments = ['Investments', 'Buy', 'Deposit', 'Dividend & Cap Gains', 'Sell', 'Withdrawal']
personal_care = ['Personal Care', 'Hair', 'Laundry', 'Spa & Massage']
pets = ['Pets', 'Pet Food & Supplies', 'Pet Grooming', 'Veterinary']
shopping = ['Shopping', 'Books', 'Clothing', 'Electronics & Software', 'Hobbies', 'Sporting Goods']
transfer = ['Transfer', 'Credit Card Payment', 'Savings', 'Transfer for Cash Spending']
travel = ['Travel', 'Air Travel', 'Hotel', 'Rental Car & Taxi', 'Vacation']

In [955]:
df = pd.DataFrame(transactions, columns=['Date', 'Category', 'Description', 'Amount', 'Account Name'])
df['Category'] = np.where(df['Category'].isin(auto_transport), 'Auto & Transport',
                        np.where(df['Category'].isin(bills), 'Bills & Utilities', 
                        np.where(df['Category'].isin(business), 'Business Services',
                        np.where(df['Category'].isin(education), 'Education',
                        np.where(df['Category'].isin(entertainment), 'Entertainment',
                        np.where(df['Category'].isin(fees), 'Fees & Charges',
                        np.where(df['Category'].isin(financial), 'Financial',
                        np.where(df['Category'].isin(food), 'Food & Dining',
                        np.where(df['Category'].isin(groceries), 'Groceries',
                        np.where(df['Category'].isin(gifts), 'Gifts & Donations',
                        np.where(df['Category'].isin(health), 'Health & Fitness',
                        np.where(df['Category'].isin(home), 'Home',
                        np.where(df['Category'].isin(income), 'Income',
                        np.where(df['Category'].isin(paycheck), 'Paycheck',
                        np.where(df['Category'].isin(investments), 'Investments',
                        np.where(df['Category'].isin(personal_care), 'Personal Care',
                        np.where(df['Category'].isin(pets), 'Pets',
                        np.where(df['Category'].isin(shopping), 'Shopping',
                        np.where(df['Category'].isin(transfer), 'Transfer',
                        np.where(df['Category'].isin(travel), 'Travel',
                'Other'))))))))))))))))))))
df['Expenses'] = np.where(df['Category'].isin(auto_transport), 1,
                        np.where(df['Category'].isin(bills), 1, 
                        np.where(df['Category'].isin(business), 1,
                        np.where(df['Category'].isin(education), 1,
                        np.where(df['Category'].isin(entertainment), 1,
                        np.where(df['Category'].isin(fees), 0,
                        np.where(df['Category'].isin(financial), 0,
                        np.where(df['Category'].isin(food), 1,
                        np.where(df['Category'].isin(groceries), 1,
                        np.where(df['Category'].isin(gifts), 0,
                        np.where(df['Category'].isin(health), 1,
                        np.where(df['Category'].isin(home), 1,
                        np.where(df['Category'].isin(income), 0,
                        np.where(df['Category'].isin(paycheck), 0,
                        np.where(df['Category'].isin(investments), 0,
                        np.where(df['Category'].isin(personal_care), 1,
                        np.where(df['Category'].isin(pets), 1,
                        np.where(df['Category'].isin(shopping), 1,
                        np.where(df['Category'].isin(transfer), 0,
                        np.where(df['Category'].isin(travel), 1,
                1))))))))))))))))))))
df['Budget'] = np.where(df['Category'].isin(auto_transport), 190,
                        np.where(df['Category'].isin(bills), 100, 
                        np.where(df['Category'].isin(business), 10,
                        np.where(df['Category'].isin(education), 45,
                        np.where(df['Category'].isin(entertainment), 75,
                        np.where(df['Category'].isin(fees), 0,
                        np.where(df['Category'].isin(financial), 0,
                        np.where(df['Category'].isin(food), 315,
                        np.where(df['Category'].isin(groceries), 320,
                        np.where(df['Category'].isin(gifts), 0,
                        np.where(df['Category'].isin(health), 105,
                        np.where(df['Category'].isin(home), 1700,
                        np.where(df['Category'].isin(income), 0,
                        np.where(df['Category'].isin(paycheck), 0,
                        np.where(df['Category'].isin(investments), 0,
                        np.where(df['Category'].isin(personal_care), 0,
                        np.where(df['Category'].isin(pets), 100,
                        np.where(df['Category'].isin(shopping), 190,
                        np.where(df['Category'].isin(transfer), 10,
                        np.where(df['Category'].isin(travel), 190,
                1))))))))))))))))))))

In [956]:
df

,Date,Category,Description,Amount,Account Name,Expenses,Budget
0,8/22/2022,Paycheck,BLUESTONE ANALYT CACI INTER PB0771 082222,3093.29,5/3 ESSENTIAL CHECKING,0,0
1,8/18/2022,Gifts & Donations,Congratulations on graduation and you Birthday...,150.00,Venmo,0,0
2,8/16/2022,Transfer,Payment Thank You-Mobile,165.91,CREDIT CARD,0,10
3,8/16/2022,Transfer,Payment Thank You-Mobile,588.29,CREDIT CARD,0,10
4,8/12/2022,Investments,Apple Market Buy,0.07,Robinhood Investments,0,0
...,...,...,...,...,...,...,...
2634,12/10/2019,Shopping,Target,-30.33,DISCOVER IT CHROME CARD,1,190
2635,12/08/2019,Food & Dining,Melk,-2.69,Venmo,1,315
2636,12/08/2019,Health & Fitness,Half of Keiths medical bills,-10.00,Venmo,1,105
2637,12/07/2019,Food & Dining,Raising Cane's,-7.06,DISCOVER IT CHROME CARD,1,315
2638,12/06/2019,Shopping,Wal-Mart,-23.48,DISCOVER IT CHROME CARD,1,190

In [957]:
from datetime import date, timedelta

year, week_num, day_of_week = date.today().isocalendar()

today = date.today()
start = today - timedelta(days=today.weekday())
end = start + timedelta(days=6)

this_week = start.strftime("%m/%d/%Y")
year = date.today().year
today

datetime.date(2022, 8, 21)

In [958]:
df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df['week'] = df['Date'].dt.isocalendar().week
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year'] = df['Date'].dt.year

In [959]:
df_expenses = df[df['Expenses'] == 1]
expenses_week = df_expenses[df_expenses['year'] == date.today().year].groupby('week').sum()['Amount']
if indexExists(expenses_week, week_num):
    expenses_week = expenses_week[week_num]
else:
    expenses_week = 0

In [960]:
expenses_per_day = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('Date').sum()['Amount'])
expenses_per_day

-127.72425287356322

In [961]:
expenses_per_week = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('week').sum()['Amount'])
expenses_per_week

-653.6476470588236

In [962]:
expenses_per_month = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('month').sum()['Amount'])
expenses_per_month

-2778.0025

In [963]:
expenses_this_year = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('year').sum()['Amount'])
expenses_this_year

-22224.020000000008

In [964]:
income_this_year = df[df['Category'] == 'Paycheck'].groupby('year').sum()['Amount'][date.today().year]
income_this_year

22615.23

In [965]:
day_of_year = int(date.today().strftime('%j'))
day_of_year

233

In [966]:
income_per_day = df[df['Category'] == 'Paycheck']
income_per_day = income_per_day[income_per_day['year'] == 2022]
income_per_day = income_per_day['Amount'].sum()/day_of_year

In [967]:
df_income = df[df['Category'] == 'Paycheck']
income_week = df_income[df_income['year'] == date.today().year].groupby('week').sum()['Amount']
if indexExists(income_week, week_num):
    income_week = income_week[week_num]
else:
    income_week = 0

In [968]:
df_2022 = df_expenses[df_expenses.year == 2022]
this_month = df_2022[df_2022.month == date.today().month]

In [969]:
expenses_by_cat = this_month.groupby('Category').sum()['Amount']
budget_by_cat = this_month.groupby('Category').mean()['Budget']
df_b = budget_by_cat.to_frame()
df_e = expenses_by_cat.to_frame()
df_this_month = df_e.merge(df_b, left_index=True, right_index = True).sort_values(by='Amount')
df_this_month.values[0][0]

-1675.51

In [970]:
sorted_index = df_this_month.index
sorted_values = df_this_month.values

In [972]:
category_len = len(this_month.groupby('Category').sum()['Amount'])
budgets = []
for i in range(0, category_len):
    cat = f"{sorted_index[i]}"
    cat_num = f"{round(sorted_values[i][0]*-1, 2)}"
    cat_max = f"{round(sorted_values[i][1], 2)}"
    if float(cat_num) == 0 or float(cat_max) == 0:
        cat_style = 0
    else:
        cat_style = round(float(cat_num) / float(cat_max)*100, 2)
    print(f"""<h4 class="small fw-bold">{cat}<span class="float-end">{cat_num}</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="{cat_num}" aria-valuemin="0" aria-valuemax="{cat_max}" style="width:{cat_style}%;"><span class="visually-hidden">{formatting(float(cat_num))}</span></div></div>""")
budgets

<h4 class="small fw-bold">Home<span class="float-end">1675.51</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="1675.51" aria-valuemin="0" aria-valuemax="1700.0" style="width:98.56%;"><span class="visually-hidden">$1,675.51</span></div></div>
<h4 class="small fw-bold">Food & Dining<span class="float-end">348.57</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="348.57" aria-valuemin="0" aria-valuemax="315.0" style="width:110.66%;"><span class="visually-hidden">$348.57</span></div></div>
<h4 class="small fw-bold">Shopping<span class="float-end">255.5</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="255.5" aria-valuemin="0" aria-valuemax="190.0" style="width:134.47%;"><span class="visually-hidden">$255.50</span></div></div>
<h4 class="small fw-bold">Groceries<span class="float-end">179.3</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="179.3" aria-valuemin="0" aria-valuemax="320.0" style="width:56.03%;"><span class="visually-hidden">$179.30</span></div></div>
<h4 class="small fw-bold">Auto & Transport<span class="float-end">94.0</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="94.0" aria-valuemin="0" aria-valuemax="190.0" style="width:49.47%;"><span class="visually-hidden">$94.00</span></div></div>
<h4 class="small fw-bold">Bills & Utilities<span class="float-end">70.14</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="70.14" aria-valuemin="0" aria-valuemax="100.0" style="width:70.14%;"><span class="visually-hidden">$70.14</span></div></div>
<h4 class="small fw-bold">Personal Care<span class="float-end">32.0</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="32.0" aria-valuemin="0" aria-valuemax="0.0" style="width:0%;"><span class="visually-hidden">$32.00</span></div></div>
<h4 class="small fw-bold">Travel<span class="float-end">30.0</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="30.0" aria-valuemin="0" aria-valuemax="190.0" style="width:15.79%;"><span class="visually-hidden">$30.00</span></div></div>
<h4 class="small fw-bold">Health & Fitness<span class="float-end">26.88</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="26.88" aria-valuemin="0" aria-valuemax="105.0" style="width:25.6%;"><span class="visually-hidden">$26.88</span></div></div>
<h4 class="small fw-bold">Entertainment<span class="float-end">5.37</span></h4><div class="progress mb-4"><div class="progress-bar bg-danger" aria-valuenow="5.37" aria-valuemin="0" aria-valuemax="75.0" style="width:7.16%;"><span class="visually-hidden">$5.37</span></div></div>

[]

In [659]:
def indexExists(list,index):
    try:
        list[index]
        return True
    except KeyError:
        return False

In [660]:
def cal_average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

In [670]:
def formatting(amount):
    if amount < 0:
        amount = amount * -1
        amount = "-${:,.2f}".format(amount)
        color = '"color:red"'
    else:
        amount = "${:,.2f}".format(amount)
        color = '"color:black"'
    return amount

In [671]:
sheet = pd.read_excel('Goal.xlsx', sheet_name = '2022', index_col = 0, header = 9)
sheet['Start of Week']  = sheet['Start of Week'][:52].map(lambda x: datetime.strptime(str(x), "%B-%d-%Y").date())
in_savings = float(sheet[sheet['Start of Week'] == start]['Savings End'][0])
for_investment = float(sheet[sheet['Start of Week'] == start]['End For Investment'][0])
net_worth = float(sheet[sheet['Start of Week'] == start]['In Investment'][0]) + in_savings + for_investment
progress = pd.read_excel('Goal.xlsx', sheet_name = 'Budget')
progress = float(progress['Unnamed: 1'][6]) - net_worth

In [934]:
from flask import Flask, render_template
## from flask import Flask, render_template
app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def dashboard():
    return render_template('index.html', 
    income_this_week = formatting(income_week), expenses_this_week = formatting(expenses_week), 
    this_week = this_week, net_worth = formatting(net_worth), left = formatting(progress),
    expenses_per_day = formatting(expenses_per_day), expenses_per_week = formatting(expenses_per_week), 
    expenses_per_month = formatting(expenses_per_month), expenses_this_year = formatting(expenses_this_year),
    income_this_year = formatting(income_this_year), income_per_day = formatting(income_per_day), in_savings = formatting(in_savings),
    for_investment = formatting(for_investment), budgets = budgets)

@app.route('/table.html', methods=['GET', 'POST'])
def finances():
    return render_template('table.html')

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [21/Aug/2022 16:36:15] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [21/Aug/2022 16:36:15] "GET /static/https://fonts.googleapis.com/css%3Ffamily%3DNunito:200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i HTTP/1.1" 404 -
127.0.0.1 - - [21/Aug/2022 16:36:15] "GET /assets/bootstrap/js/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [21/Aug/2022 16:36:15] "GET /assets/js/script.min.js HTTP/1.1" 404 -
127.0.0.1 - - [21/Aug/2022 16:36:24] "GET /static/https://fonts.googleapis.com/css%3Ffamily%3DNunito:200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i HTTP/1.1" 404 -