In [1]:
!pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

Requirement already satisfied: google-api-python-client in c:\users\bcohe\anaconda3\lib\site-packages (2.57.0)
Requirement already satisfied: google-auth-httplib2 in c:\users\bcohe\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: google-auth-oauthlib in c:\users\bcohe\anaconda3\lib\site-packages (0.5.2)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-python-client) (1.33.0)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-python-client) (0.20.4)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-python-client) (2.8.2)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: six in c:\users\bcohe\anaconda3\lib\site-packages (from google-auth-httplib2) (1.16.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.56.4)
Requirement already satisfied: protobuf<5.0.0dev,>=3.15.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.17.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.25.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\bcohe\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (52.0.0.post20210125)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\bcohe\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.2.2)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\bcohe\anaconda3\lib\site-packages (from httplib2<1dev,>=0.15.0->google-api-python-client) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\bcohe\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.4.8)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\bcohe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bcohe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bcohe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.26.6)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bcohe\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\bcohe\anaconda3\lib\site-packages (from google-auth-oauthlib) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\bcohe\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.1.1)

In [ ]:
from __future__ import print_function

import os.path

from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials
from google_auth_oauthlib.flow import InstalledAppFlow
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError

# If modifying these scopes, delete the file token.json.
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms'
SAMPLE_RANGE_NAME = 'Class Data!A2:E'


def main():
    """Shows basic usage of the Sheets API.
    Prints values from a sample spreadsheet.
    """
    creds = None
    # The file token.json stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.json'):
        creds = Credentials.from_authorized_user_file('token.json', SCOPES)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.json', 'w') as token:
            token.write(creds.to_json())

    try:
        service = build('sheets', 'v4', credentials=creds)

        # Call the Sheets API
        sheet = service.spreadsheets()
        result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                    range=SAMPLE_RANGE_NAME).execute()
        values = result.get('values', [])

        if not values:
            print('No data found.')
            return

        print('Name, Major:')
        for row in values:
            # Print columns A and E, which correspond to indices 0 and 4.
            print('%s, %s' % (row[0], row[4]))
    except HttpError as err:
        print(err)


if __name__ == '__main__':
    main()

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=222444974434-as82jr3aknmkfnbpnn0colta4c7c17cn.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A64623%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets.readonly&state=l7cvRyUNOnIu1xxIj1KfwHhsMSEAvm&access_type=offline

In [140]:
import pandas as pd
from datetime import datetime

In [22]:
income_sheet = pd.read_excel('Goal.xlsx', sheet_name = 'Income', index_col = 0)

In [23]:
income = income_sheet['Yearly']['Base Pay']
income

108397.58

In [25]:
k_401 = income * 0.08
k_401

8671.8064

In [32]:
benefits = income * 0.0025860103
benefits

280.317258375074

In [36]:
federal_tax = income * 0.155663208
federal_tax

16873.51504223664

In [35]:
ss = income * 0.0623122209
ss

6754.493949985422

In [38]:
medicare = income * 0.0145728766
medicare

1579.664557078628

In [39]:
net_pay = income - k_401 - benefits - federal_tax - ss - medicare
net_pay

74237.78279232423

In [177]:
transactions = pd.read_csv('transactions.csv')
transactions

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,12/23/2019,Delta,DELTA AIR LINES 18002211212 CA,198.60,debit,Air Travel,DISCOVER IT CHROME CARD,NaN,NaN
1,1/31/2020,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,2.19,debit,Air Travel,DISCOVER IT CHROME CARD,NaN,NaN
2,5/05/2021,DMV,OH BUREAU MOTOR VEHICLES,30.00,debit,Auto & Transport,CREDIT CARD,NaN,NaN
3,3/21/2020,Brendan Cohen Charged,Brendan Cohen Charged Keith Cook,11.47,credit,Bills & Utilities,Venmo,NaN,NaN
4,3/21/2020,Brendan Cohen Charged,Brendan Cohen Charged Justin Mormol,11.47,credit,Bills & Utilities,Venmo,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1785,8/07/2022,SHENANDOAH NATL PARK,SHENANDOAH NATL PARK,30.00,debit,Vacation,CREDIT CARD,Expenses,NaN
1786,6/14/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,457.42,debit,Veterinary,CREDIT CARD,NaN,NaN
1787,6/14/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,27.74,debit,Veterinary,CREDIT CARD,NaN,NaN
1788,11/08/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,131.93,debit,Veterinary,CREDIT CARD,NaN,NaN
1789,3/16/2022,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,171.21,debit,Veterinary,DISCOVER IT CHROME CARD,Expenses,NaN

In [178]:
transactions['Amount'][transactions['Transaction Type'] == 'credit'] = transactions[transactions['Transaction Type'] == 'credit'].apply(lambda x: x*-1)['Amount']

<ipython-input-178-d5df397e46bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions['Amount'][transactions['Transaction Type'] == 'credit'] = transactions[transactions['Transaction Type'] == 'credit'].apply(lambda x: x*-1)['Amount']

In [179]:
df = pd.DataFrame(transactions, columns=['Date', 'Category', 'Description', 'Amount', 'Account Name'])
df

,Date,Category,Description,Amount,Account Name
0,12/23/2019,Air Travel,Delta,198.60,DISCOVER IT CHROME CARD
1,1/31/2020,Air Travel,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,2.19,DISCOVER IT CHROME CARD
2,5/05/2021,Auto & Transport,DMV,30.00,CREDIT CARD
3,3/21/2020,Bills & Utilities,Brendan Cohen Charged,-11.47,Venmo
4,3/21/2020,Bills & Utilities,Brendan Cohen Charged,-11.47,Venmo
...,...,...,...,...,...
1785,8/07/2022,Vacation,SHENANDOAH NATL PARK,30.00,CREDIT CARD
1786,6/14/2020,Veterinary,Gahanna Animal Hospital Inc,457.42,CREDIT CARD
1787,6/14/2020,Veterinary,Gahanna Animal Hospital Inc,27.74,CREDIT CARD
1788,11/08/2020,Veterinary,Gahanna Animal Hospital Inc,131.93,CREDIT CARD
1789,3/16/2022,Veterinary,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,171.21,DISCOVER IT CHROME CARD

In [180]:
df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df['week'] = df['Date'].dt.week
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year'] = df['Date'].dt.year

<ipython-input-180-c4c7eba58a76>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week'] = df['Date'].dt.week

In [181]:
df

,Date,Category,Description,Amount,Account Name,week,day,month,year
0,2019-12-23,Air Travel,Delta,198.60,DISCOVER IT CHROME CARD,52,23,12,2019
1,2020-01-31,Air Travel,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,2.19,DISCOVER IT CHROME CARD,5,31,1,2020
2,2021-05-05,Auto & Transport,DMV,30.00,CREDIT CARD,18,5,5,2021
3,2020-03-21,Bills & Utilities,Brendan Cohen Charged,-11.47,Venmo,12,21,3,2020
4,2020-03-21,Bills & Utilities,Brendan Cohen Charged,-11.47,Venmo,12,21,3,2020
...,...,...,...,...,...,...,...,...,...
1785,2022-08-07,Vacation,SHENANDOAH NATL PARK,30.00,CREDIT CARD,31,7,8,2022
1786,2020-06-14,Veterinary,Gahanna Animal Hospital Inc,457.42,CREDIT CARD,24,14,6,2020
1787,2020-06-14,Veterinary,Gahanna Animal Hospital Inc,27.74,CREDIT CARD,24,14,6,2020
1788,2020-11-08,Veterinary,Gahanna Animal Hospital Inc,131.93,CREDIT CARD,45,8,11,2020
1789,2022-03-16,Veterinary,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,171.21,DISCOVER IT CHROME CARD,11,16,3,2022

In [214]:
year = int(input())
year = dt.datetime(year, 1, 1).year

2022

In [231]:
by_year = df[df['year'] == year].groupby('Category').sum()['Amount']
expenses_by_year = by_year.drop('Paycheck').sum() * -1
expenses_by_year

-19172.829999999998

In [ ]:
## from flask import Flask, render_template
app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def dashboard():
    if expenses_by_year < 0:
        expenses = expenses_by_year * -1
        expenses = "-${:,.2f}".format(expenses)
    else:
        expenses = "${:,.2f}".format(expenses_by_year)
    return render_template('index.html', income = "${:,.2f}".format(income), expenses = expenses)

@app.route('/table.html', methods=['GET', 'POST'])
def finances():
    return render_template('table.html')

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Aug/2022 15:15:54] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 15:15:54] "GET /static/https://fonts.googleapis.com/css%3Ffamily%3DNunito:200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i HTTP/1.1" 404 -
127.0.0.1 - - [19/Aug/2022 15:15:54] "GET /assets/bootstrap/js/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [19/Aug/2022 15:15:54] "GET /assets/js/chart.min.js HTTP/1.1" 404 -
127.0.0.1 - - [19/Aug/2022 15:15:54] "GET /assets/js/script.min.js HTTP/1.1" 404 -