In [346]:
import pandas as pd
from datetime import datetime
import numpy as np
from datetime import date, timedelta
from IPython.display import HTML

In [238]:
def indexExists(list,index):
    try:
        list[index]
        return True
    except KeyError:
        return False

In [239]:
def cal_average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

In [240]:
def formatting(amount):
    if amount < 0:
        amount = amount * -1
        amount = "-${:,.2f}".format(amount)
    else:
        amount = "${:,.2f}".format(amount)
    return amount

In [241]:
def salary():
    income_sheet = pd.read_excel('Goal.xlsx', sheet_name = 'Income', index_col = 0)
    income = income_sheet['Yearly']['Base Pay']
    k_401 = income * 0.08
    benefits = income * 0.0025860103
    federal_tax = income * 0.155663208
    ss = income * 0.0623122209
    medicare = income * 0.0145728766
    net_pay = income - k_401 - benefits - federal_tax - ss - medicare
    return [income, k_401, benefits, federal_tax, ss, medicare, net_pay]

In [242]:
def transactions():
    transactions = pd.read_csv('transactions.csv')
    debit = transactions[transactions['Transaction Type'] == 'debit']
    debit.Amount = debit.Amount * -1
    transactions = transactions[transactions['Transaction Type'] == 'credit'].merge(debit, how="outer")
    return transactions

In [265]:
def df_processed(transactions = transactions()):
    df = pd.DataFrame(transactions, columns=['Date', 'Category', 'Description', 'Amount', 'Account Name'])
    auto_transport = ['Auto & Transport', 'Auto Insurance', 'Auto Payment', 'Gas & Fuel', 'Parking', 'Public Transportation', 'Ride Share', 'Service & Parts']
    bills = ['Bills & Utilities', 'Home Phone', 'Internet', 'Mobile Phone', 'Television', 'Utilities']
    business = ['Business Services', 'Advertising', 'Legal', 'Office Supplies', 'Printing', 'Shipping']
    education = ['Education', 'Books & Supplies', 'Student Loan', 'Tuition']
    entertainment = ['Entertainment', 'Amusement', 'Arts', 'Fun', 'Movies & DVDs', 'Music', 'Newspapers & Magazines', 'Streaming']
    fees = ['Fees & Charges', 'ATM Fee', 'Bank Fee', 'Finance Charge', 'Late Fee', 'Service Fee', 'Trade Commissions']
    financial = ['Financial', 'Financial Advisor', 'Life Insurance']
    food = ['Food & Dining', 'Alcohol & Bars', 'All', 'Coffee Shops', 'Fast Food', 'Food Delivery', 'Restaurants']
    groceries = ['Groceries']
    gifts = ['Gifts & Donations', 'Charity', 'Gift']
    health = ['Health & Fitness', 'Dentist', 'Doctor', 'Eyecare', 'Gym', 'Health Insurance', 'Pharmacy', 'Sports']
    home = ['Home', 'Furnishings', 'Home Improvement', 'Home Insurance', 'Home Services', 'Home Supplies', 'Lawn & Garden', 'Mortgage & Rent']
    income = ['Income', 'Bonus', 'Interest Income', 'Reimbursement', 'Rental Income', 'Returned Purchase']
    paycheck = ['Paycheck']
    investments = ['Investments', 'Buy', 'Deposit', 'Dividend & Cap Gains', 'Sell', 'Withdrawal']
    personal_care = ['Personal Care', 'Hair', 'Laundry', 'Spa & Massage']
    pets = ['Pets', 'Pet Food & Supplies', 'Pet Grooming', 'Veterinary']
    shopping = ['Shopping', 'Books', 'Clothing', 'Electronics & Software', 'Hobbies', 'Sporting Goods']
    transfer = ['Transfer', 'Credit Card Payment', 'Savings', 'Transfer for Cash Spending']
    travel = ['Travel', 'Air Travel', 'Hotel', 'Rental Car & Taxi', 'Vacation']
    df['Category'] = np.where(df['Category'].isin(auto_transport), 'Auto & Transport',
                            np.where(df['Category'].isin(bills), 'Bills & Utilities', 
                            np.where(df['Category'].isin(business), 'Business Services',
                            np.where(df['Category'].isin(education), 'Education',
                            np.where(df['Category'].isin(entertainment), 'Entertainment',
                            np.where(df['Category'].isin(fees), 'Fees & Charges',
                            np.where(df['Category'].isin(financial), 'Financial',
                            np.where(df['Category'].isin(food), 'Food & Dining',
                            np.where(df['Category'].isin(groceries), 'Groceries',
                            np.where(df['Category'].isin(gifts), 'Gifts & Donations',
                            np.where(df['Category'].isin(health), 'Health & Fitness',
                            np.where(df['Category'].isin(home), 'Home',
                            np.where(df['Category'].isin(income), 'Income',
                            np.where(df['Category'].isin(paycheck), 'Paycheck',
                            np.where(df['Category'].isin(investments), 'Investments',
                            np.where(df['Category'].isin(personal_care), 'Personal Care',
                            np.where(df['Category'].isin(pets), 'Pets',
                            np.where(df['Category'].isin(shopping), 'Shopping',
                            np.where(df['Category'].isin(transfer), 'Transfer',
                            np.where(df['Category'].isin(travel), 'Travel',
                    'Other'))))))))))))))))))))
    df['Expenses'] = np.where(df['Category'].isin(auto_transport), 1,
                            np.where(df['Category'].isin(bills), 1, 
                            np.where(df['Category'].isin(business), 1,
                            np.where(df['Category'].isin(education), 1,
                            np.where(df['Category'].isin(entertainment), 1,
                            np.where(df['Category'].isin(fees), 0,
                            np.where(df['Category'].isin(financial), 0,
                            np.where(df['Category'].isin(food), 1,
                            np.where(df['Category'].isin(groceries), 1,
                            np.where(df['Category'].isin(gifts), 0,
                            np.where(df['Category'].isin(health), 1,
                            np.where(df['Category'].isin(home), 1,
                            np.where(df['Category'].isin(income), 0,
                            np.where(df['Category'].isin(paycheck), 0,
                            np.where(df['Category'].isin(investments), 0,
                            np.where(df['Category'].isin(personal_care), 1,
                            np.where(df['Category'].isin(pets), 1,
                            np.where(df['Category'].isin(shopping), 1,
                            np.where(df['Category'].isin(transfer), 0,
                            np.where(df['Category'].isin(travel), 1,
                    1))))))))))))))))))))
    df['Budget'] = np.where(df['Category'].isin(auto_transport), 190,
                            np.where(df['Category'].isin(bills), 100, 
                            np.where(df['Category'].isin(business), 10,
                            np.where(df['Category'].isin(education), 45,
                            np.where(df['Category'].isin(entertainment), 75,
                            np.where(df['Category'].isin(fees), 0,
                            np.where(df['Category'].isin(financial), 0,
                            np.where(df['Category'].isin(food), 315,
                            np.where(df['Category'].isin(groceries), 320,
                            np.where(df['Category'].isin(gifts), 0,
                            np.where(df['Category'].isin(health), 105,
                            np.where(df['Category'].isin(home), 1700,
                            np.where(df['Category'].isin(income), 0,
                            np.where(df['Category'].isin(paycheck), 0,
                            np.where(df['Category'].isin(investments), 0,
                            np.where(df['Category'].isin(personal_care), 0,
                            np.where(df['Category'].isin(pets), 100,
                            np.where(df['Category'].isin(shopping), 190,
                            np.where(df['Category'].isin(transfer), 10,
                            np.where(df['Category'].isin(travel), 190,
                    1))))))))))))))))))))
    df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
    df['week'] = df['Date'].dt.isocalendar().week
    df['day'] = df['Date'].dt.day
    df['month'] = df['Date'].dt.month
    df['year'] = df['Date'].dt.year
    return df

C:\Users\bcohe\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [244]:
def process_dates():
    year, week_num, day_of_week = date.today().isocalendar()

    today = date.today()
    start = today - timedelta(days=today.weekday())
    end = start + timedelta(days=6)

    this_week = start.strftime("%m/%d/%Y")
    month_num = today.month
    day_of_year = int(date.today().strftime('%j'))
    return [year, week_num, this_week, day_of_year, start]

In [245]:
transactions_df = pd.DataFrame(df_processed(), columns=['Date', 'Category', 'Description', 'Amount'])
tables = [transactions_df.head(10).to_html(classes='table table-stripped', index = False)]

In [246]:
last_transaction = df_processed()['Date'].dt.date.max()

In [247]:
def expenses_week(df = df_processed(), week_num = process_dates()[1]):
    df_expenses = df[df['Expenses'] == 1]
    expenses_week = df_expenses[df_expenses['year'] == date.today().year].groupby('week').sum()['Amount']
    if indexExists(expenses_week, week_num):
        expenses_week = round(expenses_week[week_num], 2)
    else:
        expenses_week = round(0, 2)
    return expenses_week

In [248]:
def expenses_month(df = df_processed(), month_num = date.today().month):
    df_expenses = df[df['Expenses'] == 1]
    df_expenses = df_expenses[df_expenses['year'] == date.today().year]
    expenses_month = df_expenses[df_expenses['month'] == date.today().month].groupby('month').sum()['Amount']
    if indexExists(expenses_month, month_num):
        expenses_this_month = round(expenses_month[month_num], 2)
    else:
        expenses_this_month = round(0, 2)
    return expenses_this_month

In [249]:
def budget_per_month(df = df_processed()):
    df_expenses = df[df['Expenses'] == 1]
    budget_per_month = df_expenses[df_expenses['year'] == date.today().year].groupby('Category').mean()['Budget'].sum()
    return budget_per_month

In [250]:
def average_expenses(df = df_processed()):
    df_expenses = df[df['Expenses'] == 1]
    expenses_per_day = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('Date').sum()['Amount'])
    expenses_per_week = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('week').sum()['Amount'])
    expenses_per_month = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('month').sum()['Amount'])
    expenses_this_year = cal_average(df_expenses[df_expenses['year'] == date.today().year].groupby('year').sum()['Amount'])
    df_2022 = df_expenses[df_expenses.year == 2022]
    this_month = df_2022[df_2022.month == date.today().month]
    return [expenses_per_day, expenses_per_week, expenses_per_month, expenses_this_year, this_month]

In [251]:
def average_income(df = df_processed(), day_of_year = process_dates()[3]):
    income_this_year = df[df['Category'] == 'Paycheck'].groupby('year').sum()['Amount'][date.today().year]
    income_per_day = df[df['Category'] == 'Paycheck']
    income_per_day = income_per_day[income_per_day['year'] == 2022]
    income_per_day = income_per_day['Amount'].sum()/day_of_year
    return [income_this_year, income_per_day]

In [252]:
def income_week(df = df_processed(), week_num = process_dates()[1]):
    df_income = df[df['Category'] == 'Paycheck']
    income_week = df_income[df_income['year'] == date.today().year].groupby('week').sum()['Amount']
    if indexExists(income_week, week_num):
        income_week = income_week[week_num]
    else:
        income_week = round(0, 2)
    return income_week

In [255]:
this_month = average_expenses()[-1]
expenses_by_cat = this_month.groupby('Category').sum()['Amount']
budget_by_cat = this_month.groupby('Category').mean()['Budget']
df_b = budget_by_cat.to_frame()
df_e = expenses_by_cat.to_frame()
df_this_month = df_e.merge(df_b, left_index=True, right_index = True).sort_values(by='Amount')

In [256]:
sorted_index = df_this_month.index
sorted_values = df_this_month.values

In [257]:
category_len = len(this_month.groupby('Category').sum()['Amount'])
budgets = {}
for i in range(0, category_len):
    cat = f"{sorted_index[i]}"
    cat_num = f"{round(sorted_values[i][0]*-1, 2)}"
    cat_max = f"{round(sorted_values[i][1], 2)}"
    if float(cat_num) == 0 or float(cat_max) == 0:
        cat_style = 0
    else:
        cat_style = round(float(cat_num) / float(cat_max)*100, 2)
    cat_formatted = formatting(float(cat_num)) + " / " + "${:,.2f}".format(round(sorted_values[i][1], 2))
    budgets[cat] = [cat_num, cat_max, cat_style, cat_formatted]

In [513]:
checking_beginning = """2,078.33
2,078.33
2,178.33
2,376.35
2,356.35
2,330.48
2,212.92
2,212.92
3,212.92
3,212.92
3,358.05
3,358.05
3,338.05
3,523.05
2,820.10
3,577.16
3,576.16
4,583.65
4,281.98
6,346.29
5,924.96
7,746.87
7,146.24
5,315.20
7,613.66
7,813.66
9,760.96
4,045.01
6,886.87
2,928.21
5,212.74
2,212.74
3,193.25
3,193.25
"""
checking_beginning = checking_beginning.splitlines()
check_begin = []
for i in checking_beginning:
    check = float(i.replace(',', ''))
    check_begin.append(check)
add_to_savings = """0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
3000.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00"""
add_to_savings = add_to_savings.splitlines()
add_savings = []
for i in add_to_savings:
    saving = float(i.replace(',', ''))
    add_savings.append(saving)
add_to_investment = """0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
3685.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
0.00
"""
add_to_investment = add_to_investment.splitlines()
add_investment = []
for i in add_to_investment:
    investment = float(i.replace(',', ''))
    add_investment.append(investment)
checking_end = """2,078.33
2,178.33
2,376.35
2,356.35
2,330.48
2,212.92
2,212.92
3,212.92
3,212.92
3,358.05
3,358.05
3,338.05
3,523.05
2,820.10
3,577.16
3,577.16
4,583.65
4,281.98
6,346.29
5,924.96
7,756.90
7,146.24
5,315.20
7,613.66
7,813.66
9,760.96
4,045.01
6,886.87
2,928.21
5,212.74
2,212.74
99.98
3,193.25
3,193.25
"""
checking_end = checking_end.splitlines()
end_checking = []
for i in checking_end:
    check = float(i.replace(',', ''))
    end_checking.append(check)

In [463]:
def color_negative_red(value):
    if value < 0:
        color = 'red'
    elif value > 0:
        color = 'green'
    else:
        color = 'black'

    return 'color: %s' % color

In [515]:
df_expenses = df_processed()[df_processed().year == date.today().year]
df_expenses = df_expenses[df_processed().Expenses == 1].groupby('week').sum().Amount.to_frame()
df_income = df_processed()[df_processed().year == date.today().year]
df_income = df_income[df_processed().Category == 'Paycheck'].groupby('week').sum().Amount.to_frame()
df_this_year = df_income.merge(df_expenses, left_index = True, right_index = True, how = 'outer').fillna(0)[:process_dates()[1]]
df_this_year.reset_index(inplace = True)
df_this_year = df_this_year.rename(columns={'week': 'Week', 'Amount_x': "Income", 'Amount_y': "Expenses"})
df_this_year['Net'] = df_this_year['Income'] + df_this_year['Expenses']
df_this_year['Checking Beginning'] = check_begin
df_this_year['After Net'] = df_this_year['Checking Beginning'] + df_this_year['Net']
df_this_year['Add To Savings'] = add_savings
df_this_year['Add To Investment'] = add_investment
df_this_year['Checking End'] = end_checking
df_this_year = df_this_year.reindex(columns=['Week', 'Checking Beginning', 'Income', 'Expenses', 'Net', 'After Net', 'Add To Savings', 'Add To Investment', 'Checking End'])

<ipython-input-515-6d844ceea3bd>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_expenses = df_expenses[df_processed().Expenses == 1].groupby('week').sum().Amount.to_frame()
<ipython-input-515-6d844ceea3bd>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_income = df_income[df_processed().Category == 'Paycheck'].groupby('week').sum().Amount.to_frame()

In [516]:
df_this_year = df_this_year.style.applymap(color_negative_red, subset=['Expenses','Net', 'Income', 'After Net']).format(lambda x: "${:,.2f}".format(x) if x >= 0 else "-${:,.2f}".format(x*-1))

In [217]:
sheet = pd.read_excel('Goal.xlsx', sheet_name = '2022', index_col = 0, header = 9)
sheet['Start of Week']  = sheet['Start of Week'][:52].map(lambda x: datetime.strptime(str(x), "%B-%d-%Y").date())
in_savings = float(sheet[sheet['Start of Week'] == process_dates()[4]]['Savings End'][0])
savings_goal = 11000
savings_perc = round(in_savings/savings_goal * 100, 2)
for_investment = float(sheet[sheet['Start of Week'] == process_dates()[4]]['End For Investment'][0])
net_worth = float(sheet[sheet['Start of Week'] == process_dates()[4]]['In Investment'][0]) + in_savings + for_investment
df_progress = pd.read_excel('Goal.xlsx', sheet_name = 'Budget')
progress = float(df_progress['Unnamed: 1'][6]) - net_worth
needed = float(df_progress['Unnamed: 1'][6])
left_perc = round(net_worth/needed*100, 2)
budget_perc = round(expenses_month()*-1/budget_per_month()*100, 2)
budget_left = "${:,.2f}".format(round(expenses_month() + budget_per_month(), 2)) + " / " + "${:,.2f}".format(round(budget_per_month()), 2)

In [233]:
income_this_year = average_income()[0]
income_per_day = average_income()[1]
income_this_week = income_week()
expenses_this_week = expenses_week()
expenses_per_day = average_expenses()[0]
expenses_per_week = average_expenses()[1]
expenses_per_month = average_expenses()[2]
expenses_this_year = average_expenses()[3]
this_week = process_dates()[2]
net_this_year = income_this_year + expenses_this_year

In [517]:
from flask import Flask, render_template
## from flask import Flask, render_template
app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def dashboard():
    return render_template('finances.html', 
    income_this_week = formatting(income_this_week), expenses_this_week = expenses_this_week, 
    this_week = this_week, net_worth = formatting(net_worth), left = formatting(progress), needed = needed, 
    savings_goal = savings_goal, savings_perc = savings_perc, expenses_this_year = formatting(expenses_this_year), income_this_year = formatting(income_this_year),
    left_perc = left_perc, expenses_per_day = formatting(expenses_per_day), expenses_per_week = formatting(expenses_per_week), 
    expenses_per_month = formatting(expenses_per_month), income_per_day = formatting(income_per_day), in_savings = formatting(in_savings),
    for_investment = formatting(for_investment), budgets = budgets, expenses_this_month = expenses_this_month, budget_per_month = budget_per_month, 
    budget_perc = budget_perc, budget_left = budget_left, net_this_year = formatting(net_this_year))

@app.route('/fire.html', methods=['GET', 'POST'])
def transactions():
    return render_template('fire.html', net_worth = formatting(net_worth), left = formatting(progress), needed = needed, 
    left_perc = left_perc, expenses_this_year = formatting(expenses_this_year), income_this_year = formatting(income_this_year),
                          net_this_year = formatting(net_this_year))

@app.route('/thisyear.html', methods=['GET', 'POST'])
def this_year():
    return render_template('thisyear.html', df_this_year = df_this_year, titles=df_this_year.columns.values, expenses_this_year = formatting(expenses_this_year), 
                           income_this_year = formatting(income_this_year), net_this_year = formatting(net_this_year))

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [24/Aug/2022 22:17:50] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 22:17:50] "GET /static/https://fonts.googleapis.com/css%3Ffamily%3DNunito:200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i HTTP/1.1" 404 -
127.0.0.1 - - [24/Aug/2022 22:17:50] "GET /assets/bootstrap/js/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [24/Aug/2022 22:17:50] "GET /assets/js/theme.js HTTP/1.1" 404 -
127.0.0.1 - - [24/Aug/2022 22:17:52] "GET /thisyear.html HTTP/1.1" 200 -
127.0.0.1 - - [24/Aug/2022 22:17:52] "GET /static/https://fonts.googleapis.com/css%3Ffamily%3DNunito:200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i HTTP/1.1" 404 -
127.0.0.1 - - [24/Aug/2022 22:17:52] "GET /assets/bootstrap/js/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [24/Aug/2022 22:17:52] "GET /assets/js/theme.js HTTP/1.1" 404 -

In [56]:
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"><title>Dashboard - Brand</title><link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/material-icons.min.css')}}"><link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css')}}">

SyntaxError: invalid syntax (<ipython-input-56-3bc417650f8b>, line 1)