In [79]:
import pandas as pd
from datetime import datetime

In [80]:
income_sheet = pd.read_excel('Goal.xlsx', sheet_name = 'Income', index_col = 0)

In [81]:
income = income_sheet['Yearly']['Base Pay']
income

108397.58

In [82]:
k_401 = income * 0.08
k_401

8671.8064

In [83]:
benefits = income * 0.0025860103
benefits

280.317258375074

In [84]:
federal_tax = income * 0.155663208
federal_tax

16873.51504223664

In [85]:
ss = income * 0.0623122209
ss

6754.493949985422

In [86]:
medicare = income * 0.0145728766
medicare

1579.664557078628

In [87]:
net_pay = income - k_401 - benefits - federal_tax - ss - medicare
net_pay

74237.78279232423

In [88]:
transactions = pd.read_csv('transactions.csv')
transactions

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,12/23/2019,Delta,DELTA AIR LINES 18002211212 CA,198.60,debit,Air Travel,DISCOVER IT CHROME CARD,NaN,NaN
1,1/31/2020,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,2.19,debit,Air Travel,DISCOVER IT CHROME CARD,NaN,NaN
2,5/05/2021,DMV,OH BUREAU MOTOR VEHICLES,30.00,debit,Auto & Transport,CREDIT CARD,NaN,NaN
3,3/21/2020,Brendan Cohen Charged,Brendan Cohen Charged Keith Cook,11.47,credit,Bills & Utilities,Venmo,NaN,NaN
4,3/21/2020,Brendan Cohen Charged,Brendan Cohen Charged Justin Mormol,11.47,credit,Bills & Utilities,Venmo,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1785,8/07/2022,SHENANDOAH NATL PARK,SHENANDOAH NATL PARK,30.00,debit,Vacation,CREDIT CARD,Expenses,NaN
1786,6/14/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,457.42,debit,Veterinary,CREDIT CARD,NaN,NaN
1787,6/14/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,27.74,debit,Veterinary,CREDIT CARD,NaN,NaN
1788,11/08/2020,Gahanna Animal Hospital Inc,GAHANNA ANIMAL HOSPITA,131.93,debit,Veterinary,CREDIT CARD,NaN,NaN
1789,3/16/2022,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,171.21,debit,Veterinary,DISCOVER IT CHROME CARD,Expenses,NaN

In [89]:
transactions['Amount'][transactions['Transaction Type'] == 'debit'] = transactions[transactions['Transaction Type'] == 'debit'].apply(lambda x: x*-1)['Amount']

<ipython-input-89-c88f70988ea8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions['Amount'][transactions['Transaction Type'] == 'debit'] = transactions[transactions['Transaction Type'] == 'debit'].apply(lambda x: x*-1)['Amount']

In [90]:
df = pd.DataFrame(transactions, columns=['Date', 'Category', 'Description', 'Amount', 'Account Name'])
df

,Date,Category,Description,Amount,Account Name
0,12/23/2019,Air Travel,Delta,-198.60,DISCOVER IT CHROME CARD
1,1/31/2020,Air Travel,CVG 2145A BLUE GRASS BAZ ATLANTA GAAPPLE PAY E...,-2.19,DISCOVER IT CHROME CARD
2,5/05/2021,Auto & Transport,DMV,-30.00,CREDIT CARD
3,3/21/2020,Bills & Utilities,Brendan Cohen Charged,11.47,Venmo
4,3/21/2020,Bills & Utilities,Brendan Cohen Charged,11.47,Venmo
...,...,...,...,...,...
1785,8/07/2022,Vacation,SHENANDOAH NATL PARK,-30.00,CREDIT CARD
1786,6/14/2020,Veterinary,Gahanna Animal Hospital Inc,-457.42,CREDIT CARD
1787,6/14/2020,Veterinary,Gahanna Animal Hospital Inc,-27.74,CREDIT CARD
1788,11/08/2020,Veterinary,Gahanna Animal Hospital Inc,-131.93,CREDIT CARD
1789,3/16/2022,Veterinary,BRENTWOOD ANIMAL HOSPI BRENTWOOD MD,-171.21,DISCOVER IT CHROME CARD

In [150]:
from datetime import date, timedelta

year, week_num, day_of_week = date.today().isocalendar()

today = date.today()
start = today - timedelta(days=today.weekday())
end = start + timedelta(days=6)

this_week = start.strftime("%m/%d/%Y")
year = date.today().year

df['Date'] = df['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))
df['week'] = df['Date'].dt.week
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year'] = df['Date'].dt.year

TypeError: strptime() argument 1 must be str, not Timestamp

In [92]:
def indexExists(list,index):
    try:
        list[index]
        return True
    except KeyError:
        return False

In [117]:
def cal_average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

In [93]:
df_no_income = df[df['Category'] != 'Paycheck']
expenses_week = df_no_income[df_no_income['year'] == date.today().year].groupby('week').sum()['Amount']
if indexExists(expenses_week, week_num):
    expenses_week = expenses_week[week_num]
else:
    expenses_week = 0

In [118]:
expenses_per_day = cal_average(df_no_income[df_no_income['year'] == date.today().year].groupby('Date').sum()['Amount'])
expenses_per_day

-111.46994186046513

In [119]:
expenses_per_week = cal_average(df_no_income[df_no_income['year'] == date.today().year].groupby('week').sum()['Amount'])
expenses_per_week

-563.9067647058826

In [120]:
expenses_per_month = cal_average(df_no_income[df_no_income['year'] == date.today().year].groupby('month').sum()['Amount'])
expenses_per_month

-2396.6037499999993

In [134]:
expenses_this_year = cal_average(df_no_income[df_no_income['year'] == date.today().year].groupby('year').sum()['Amount'])
expenses_this_year

-19172.830000000005

In [146]:
income_this_year = df[df['Category'] == 'Paycheck'].groupby('year').sum()['Amount'][date.today().year]
income_this_year

16428.67

In [178]:
income_per_day = df[df['Category'] == 'Paycheck']
income_per_day = income_per_day[income_per_day['year'] == 2022]
income_per_day = income_per_day['Amount'].sum()/int(day_of_year)

71.11978354978355

In [152]:
day_of_year = date.today().strftime('%j')
day_of_year

'231'

In [94]:
df_income = df[df['Category'] == 'Paycheck']
income_week = df_income[df_income['year'] == date.today().year].groupby('week').sum()['Amount']
if indexExists(income_week, week_num):
    income_week = income_week[week_num]
else:
    income_week = 0

In [142]:
def formatting(amount):
    if amount < 0:
        amount = amount * -1
        amount = "-${:,.2f}".format(amount)
        color = '"color:red"'
    else:
        amount = "${:,.2f}".format(amount)
        color = '"color:black"'
    return amount

In [107]:
net_worth = 1
progress = 1

In [143]:
from flask import Flask, render_template
## from flask import Flask, render_template
app = Flask(__name__)

@app.route('/', methods=['GET', 'POST'])
def dashboard():
    return render_template('index.html', 
    income_this_week = formatting(income_week), expenses_this_week = formatting(expenses_week), 
    this_week = this_week, net_worth = formatting(net_worth), progress = formatting(progress),
    expenses_per_day = formatting(expenses_per_day), expenses_per_week = formatting(expenses_per_week), 
    expenses_per_month = formatting(expenses_per_month), expenses_this_year = formatting(expenses_this_year),
    income_this_year = formatting(income_this_year))

@app.route('/table.html', methods=['GET', 'POST'])
def finances():
    return render_template('table.html')

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Aug/2022 20:20:36] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:20:37] "GET /static/https://fonts.googleapis.com/css%3Ffamily%3DNunito:200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i HTTP/1.1" 404 -
127.0.0.1 - - [19/Aug/2022 20:20:37] "GET /assets/bootstrap/js/bootstrap.min.js HTTP/1.1" 404 -
127.0.0.1 - - [19/Aug/2022 20:20:37] "GET /assets/js/chart.min.js HTTP/1.1" 404 -
127.0.0.1 - - [19/Aug/2022 20:20:37] "GET /assets/js/script.min.js HTTP/1.1" 404 -